@import url('https://fonts.cdnfonts.com/css/neuropol');

body {
    font-family: 'Neuropol', sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
}

header {
    background: #0073e6;
    color: white;
    text-align: center;
    padding: 15px;
}

nav {
    display: flex;
    justify-content: center;
    background: #005bb5;
    padding: 10px;
}

nav a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
}

section {
    padding: 20px;
}

footer {
    background: #0073e6;
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: 20px;
}

.gallery img {
    width: 100%;
    max-width: 300px;
    margin: 10px;
}

.logo {
    max-width: 150px;
    display: block;
    margin: 0 auto;
}

#whatsapp-bubble {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #25d366;
    color: white;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

#whatsapp-bubble img {
    width: 40px;
    height: 40px;
}